python-telegram-bot
telethon
pytz
jdatetime
hijridate
flask
requests
aiohttp
deep-translator
qrcode
Pillow
psutil
persiantools
currency-converter
imageio-ffmpeg
numpy
matplotlib
opencv-python
pyzbar
openai
SpeechRecognition
pydub
